
    <div fxFlex fxLayoutAlign="space-around stretch" class="backgroundDiv">
        <div class="myPhoto" fxFlex=50></div>
        <div fxFlex=30 class="fontStyle styleDiv">
            Hello,I'm <span class="greenFont">Aditya Mundhara</span>, Full-Stack Developer
        </div>
        <div fxFlex=20 fxLayout="column" fxLayoutAlign="center end"  fxLayoutGap="15px" class="fontAwesomesize">
            <a href="https://www.linkedin.com/in/aditya-mundhara-b8977a126/" target="_blank" title="LinkedIn">
                <fa-icon [icon]="faLinkedinIn"></fa-icon>
            </a>
            <a href="https://github.com/adityaMundhara" target="_blank" title="Github">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a href="mailto::mundhraaditya3@gmail.com" target="_blank" title="Mail">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
        </div>
    </div>
